body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 550px;
}

.center {
    width: 80%;
    /* padding: 20px; */
    background-color: #fff;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2, h3 {
    color: #333;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.sendbutton {
    background-color: #008CBA;
    color: #fff;
}

.sendbutton:hover {
    background-color: #006080;
}

#transactions {
    list-style: none;
    padding: 0;
}

#transactions li {
    margin-bottom: 10px;
}

#status {
    color: #008CBA;
}
#burnstatus {
    color: #008CBA;
}
#mintstatus {
    color: #008CBA;
}
